<%= render 'nav' %>
<div class= "jumbotron">
<h1>Welcome to Pine Cone Connection</h1>
<p>Your source for organic, locally-sourced, cruelty-free pine cones.  Browse our network of pinecone 
providers to find the best cones for your craft project or favorite recipes. </p>
<p><%= link_to "Sign in to Browse", about_path %></p>
<h1>Become a dealer! </h1>
<p>Share your private source of premium pine cones with eager buyers, world-wide.  Sign up today!
It's easy!</p>
<p><%= link_to "Sign up!", about_path %></p>
</div>

